/* Color Palette */
:root {
    --navy-blue: #0f1626;
    --tan: #AB987A;
    --coral: #FF533D;
    --off-w: #F5F5F5;
    --dark: #36454F;
    --main-font: "League Spartan", sans-serif;

}
* {
    font-family: var(--main-font);
}

body {
    background-color: var(--off-w);
    color: var(--dark);
    display: flex;
    min-height: 100vh;
    width: 100vw;
    flex-direction: column;
}

/* Navigation Bar */
header {
    min-height: 20vh;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
    z-index: 999;
    width: 100%;
    background-color: var(--coral);
    font-family: var(--main-font);
    font-size: 20px;
    position:fixed;
    top: 0;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

img {
    display: block;
}

div {
    display: block;
}

main {
    flex: 1 0 auto;
}

/* Navbar formatting */
.navbar {
    flex: 1;
    text-align: left;
}

.navbar ul li {
    display: inline-block;
    padding: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--off-w);
}

.navbar ul li:hover {
    background-color: var(--dark);
    transition-delay: 100ms;
}

.intro {
    text-align: center;
    width: 100%;
    position: relative;
    margin: 0 auto 15% auto;
}

.intro p{
    font-style: italic;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.profile-picture {
    max-width: 360px;
    max-height: 300px;
    min-width: 100px;
    width: 50%;
    margin: 25px auto 10px auto;
}

.my-work {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 8%;
    z-index: 900;

}

.web-apps {
    margin-top: 1.5rem;
}

.app-image {
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .navbar ul li {
        display:block;
        text-align: center;
    }
    header {
        min-height: 30vh;
    }
    h1 {
        font-size: 200%;
    }
}



