/* Color Palette */
:root {
    --navy-blue: #0f1626;
    --tan: #AB987A;
    --coral: #FF533D;
    --off-w: #F5F5F5;
}

body {
    background-color: var(--navy-blue);
}

h1, h2 , h3{
    color: var(--off-w);
}

a {
    color: var(--off-w);
}

p {
    color: var(--off-w);
}

div {
    display: block;
}

.nav {
    position: relative;
}

.profile-picture {
    height:300px;
    width:362px;
}

.intro {

}

.container {

}

.web-apps {

}

.app-image {

}
